<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Curl up and Dye Salon</title>
</head>
<body>
    <h1><img src="/girl.png">Our Stylists</h1>
    <div class="container">
      <h2>{{stylist.getName}}'s clients</h2>
      <div class="row">
        <form action="/updatedStylist{{stylist.getId}}" method="post">
            <input type="hidden" value="patch" name="_method">
            <label for="name">Update Stylists' Name</label>
            <input id="name" class="form-control" type="text" name="name" required>
            <br>
            <button class="btn" type="submit">Update Stylists' Name</button>
        </form>
      </div>
      <div class="row">
          <div class="input">
            <h3>Add a Client</h3>
                <form action="/addClient" method="post">
                    <input id="stylist_id" value="{{ stylist.getId }}" type="hidden" name="stylist_id">
                    <label for="client">Enter client's name:</label>
                    <input id="name" class="form-control" type="text" name="clientName" required>
                    <br>
                    <button type="submit" class="btn">Add Client</button>
                </form>

          {% if clients is not empty %}
              {% for client in clients %}
              <h4><a href="/getClient/{{client.getId}}">{{client.getName}}</a> </h4>
              {% endfor %}
          {% endif %}
      </div>
      <hr>
      <form action="/confirmDeleteStylist/{{ stylist.getId }}" method="post">
         <input name="_method" type="hidden" value="delete">
          <button type="submit" class="btn">Delete This Stylist</button>
      </form>
        <h3><a href="/">Home</a></h3>
    </div>
  </div>
</body>
</html>
